/* nunito-regular - latin */
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/nunito400.woff2") format("woff2");
    src: url("../fonts/nunito400.woff") format("woff");
}
/* nunito-500 - latin */
@font-face {
    font-family: "Nunito";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/nunito500.woff2") format("woff2");
    src: url("../fonts/nunito500.woff") format("woff");
}
/* nunito-600 - latin */
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/nunito600.woff2") format("woff2");
    src: url("../fonts/nunito600.woff") format("woff");
}
/* nunito-700 - latin */
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/nunito700.woff2") format("woff2");
    src:   url("../fonts/nunito700.woff") format("woff");
}
/* nunito-800 - latin */
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/nunito800.woff2") format("woff2");
    src: url("../fonts/nunito800.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto400.woff2") format("woff2");
    src: url("../fonts/roboto400.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/roboto500.woff2") format("woff2");
    src: url("../fonts/roboto500.woff") format("woff");
}