@use "../mixins";
.customer>.container {
    overflow: hidden;
}
.customer__title {
    @include mixins.titleUnstyled;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: -0.01em;
    color: var(--main-dark-color);
}
.customer__info {
    line-height: 22px;
    text-align: center;
    margin: 0;
    color: #3d3a41;
}
.customer__inner {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 127px;
}
.customer__inner::after {
    position: absolute;
    bottom: -46px;
    left: 50%;
    width: 92px;
    height: 26px;
    background-image: url("/images/icons/dots.svg");
    content: "";
}
.customer__button {
    position: absolute;
    z-index: 2;
    display: none;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--main-pink-color);
    border-radius: 50%
}
.customer__button:first-child {
    left: -27px;
    background-image: url("/images/icons/arrowl.svg");
}
.customer__button:last-child {
    right: -10px;
    background-image: url("/images/icons/arrow.svg");
}
.customer__list {
    @include mixins.listUnstyled;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer__item {
    position: relative;
    min-width: 320px;
    margin-right: 15px;
    padding-top: 80px;
    padding-right: 31px;
    padding-bottom: 31px;
    padding-left: 31px;
    background: #f7f5ff;
    border: 1px solid transparent;
    border-radius: 8px;
}
.customer__item:hover {
    border: 1px solid var(--main-pink-color);
}
.customer__item::before {
    position: absolute;
    top: 31px;
    width: 112px;
    height: 19px;
    background-image: url("/images/icons/stars.svg");
    content: "";
}
.customer__desc {
    line-height: 155%;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--main-dark-color);
}
.customer__details {
    position: relative;
    margin-left: 69px;
}
.customer__details::before {
    position: absolute;
    left: -70px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-image: url("/images/images/customerf.png");
    content: "";
}
.customer__item:nth-child(2)>.customer__details::before {
    position: absolute;
    left: -70px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-image: url("/images/images/customers.png");
    content: "";
}
.customer__item:nth-child(3)>.customer__details::before {
    position: absolute;
    left: -70px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-image: url("/images/images/customert.png");
    content: "";
}
.customer__detail-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main-dark-color);
}
.customer__job {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    line-height: 150%;
    color: #3d3a41;
}

@media only screen and (min-width: 1240px) {
    .customer__button {
        display: block;
    }
}