.hero {
    // padding-bottom: 170px;
    background-image: url("/images/images/herobgm.svg");
    background-repeat: no-repeat;
    background-position: -118px 0;
}

@media only screen and (min-width: 376px) {
    
    .hero {
        background-image: url("/images/images/herobgd.svg");
        background-size: auto 1185px;
        background-position: center -347px;
    }
}

@media only screen and (min-width: 640px) {
    .hero {
        background-size: auto 1212px;
    }
}


@media only screen and (min-width: 1240px) {
    .hero {
        background-size: cover;
        background-position: center -347px;
        // url("/images/images/herobgd.svg")
    }
}


