@use "../mixins";

.intro__inner {
    text-align: center;
    padding-top: 25px
}
.intro__big-box {
    max-width: 737px;
    margin: 0 auto;
}
.intro__title-box {
    max-width: 737px
}
.intro__title {
    @include mixins.titleUnstyled;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.intro__desc {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 80px; 
    color: #FFFFFF;
}
.intro__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.intro__link {
    @include mixins.linkStyled;
    width: 342px;
    font-weight: 600;
    line-height: 155%;
    color: #FFFFFF;
}
.intro__link:first-child {
    padding-right: 52px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
}
.intro__link:first-child::after {
    position: absolute;
    top: 10px;
    right: 96.5px;
    width: 36px;
    height: 36px;
    background-image: url("/images/icons/videosym.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}
.intro__link:nth-child(2) {
    background-color: var(--main-pink-color);
    border: 1px solid transparent;
}

@media only screen and (min-width: 640px) {
    .intro__title {
        font-weight: 800;
        font-size: 56px;
        line-height: 120%;
    }
    .intro__desc-box {
        max-width: 471px;
        margin: 24px auto 40px;
    }
    // .intro__desc {
    //     font-weight: 500;
    //     font-size: 18px;
    //     line-height: 155%;
    //     text-align: center;
    //     letter-spacing: 0.01em;
    // }
    .intro__links {
        flex-direction: row-reverse;
        margin-bottom: 117px;
    }
    .intro__link:first-child {
        margin-left: 33px;
    }
}
@media only screen and (min-width: 1240px) {
    .intro__comp {
        width: 784px;
        height: 514px;
    }
}