@use "../mixins";

.news {
    margin-top: 80px;
    margin-bottom: 80px;
}
.news__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.news__title {
    @include mixins.titleUnstyled;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.01em;
    color: #211F25;
}
.news__info {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #3D3A41;
}
.news__info-link {
    display: none;
    padding: 16px 28px;
    text-decoration: none;
    color: var(--main-pink-color);
    border: 1px solid var(--main-pink-color);
    border-radius: 32px;
}
.news__list {
    @include mixins.listUnstyled;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.news__item {
    max-width: 406px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.news__item:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px #CDE3EF;
}
.news__item:hover .news__item-link::after {
    background-image: url("/images/icons/newsred.svg");
}
.news__text-box {
    margin-left: 23px;
    text-align: left;
}
.news__category {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 20px;
}
.news__trein {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-right: 15px;
    padding: 4px 8px;
    color: #211F25;
    background-color: #f4f4f4;
}
.news__time-desc {
    margin: 0;
}
.news__item-desc-box {
    width: 308px;
    margin-bottom: 30px;
}
.news__item-title {
    @include mixins.titleUnstyled;
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    margin-bottom: 8px;
    color: #211F25;
}
.news__desc-box {
    width: 262px;
}
.news__desc {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #3D3A41;
}
.news__item-link {
    position: relative;
    text-decoration: none;
    line-height: 150%;
    color: var(--main-pink-color);
}
.news__item-link::after {
    position: absolute;
    top: 6px;
    right: -20px;
    width: 7px;
    height: 11px;
    background-image: url("/images/icons/news.svg");
    background-repeat: no-repeat;
    content: "";
}

@media only screen and (min-width: 1240px) {
    .news{
        margin-top: 120px;
    }
    .news__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .news__info-box {
        text-align-last: left;
    }
    .news__info-link {
        display: block;
    }
    .news__list {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
}